.App {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn {
  border: 1px solid black;
  border-radius: 4px;
  outline: 0;
  background: transparent;
  text-transform: lowercase;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}
.btn:hover {
  transform: scale(1.1);
}